.mod-seo ul{line-height:30px;}

.mod-seo .uls{margin:10px 0 0 0;}
.mod-seo .uls input[type=text]{height:26px;padding:0}
.mod-seo .uls button{height:28px;vertical-align:middle}
.mod-seo .uls .over{border-top:1px #ccc solid}
